@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-figma-dark-blue min-h-screen
    }

}

@layer components {
  .input-login-style {
   @apply bg-figma-semi-dark-blue border-0 border-b-[0.0625rem] border-figma-greyish-blue p-0 ps-[1rem] focus:border-0 figma-body-s align-top pb-[1.12rem]  focus:ring-0 
  }
}

:root {
  --Pure-White: #ffffff;
}
.figma-heading-l {
  font-family: Outfit;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.5px;
  font-style: normal; 
  line-height: 1.2;    
}

.figma-heading-m {
  font-family: Outfit;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal; 
  line-height: 1.2;    
}

.figma-heading-s {
  font-family: Outfit;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal; 
  line-height: 1.2;    
}

.figma-heading-xs {
  font-family: Outfit;
  font-size: 1.125rem;
  font-weight: 500;
  font-style: normal; 
  line-height: 1.2;    
}

.figma-body-m {
  font-family: Outfit;
  font-size: 0.9375rem;
  font-weight: 300;
  font-style: normal; 
  line-height: 1.2;    
}

.figma-body-s {
  font-family: Outfit;
  font-size: 0.8125rem;
  font-weight: 300;
  opacity: 0.75;
  font-style: normal; 
line-height: 1.2;    
}

.figma-error-red {
    font-family: Outfit;
font-size: 0.8125rem;
font-style: normal;
font-weight: 300;
line-height: 1.2;
color: #FC4747;
}

