.navbar {
    background-color: #161D2F;
    border-color: #161D2F;
    cursor: pointer;
}

/*Vladimir Zorin. NavBar bandymas. To visually highlight the active link/NavBar piece (Home, Movies, TV Series, Bookmarked Shows)*/
/*.active {
    background-color: white;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.navbar {
    width: 6rem;
    height: 77rem;
    position: relative;
    top: 2rem;
    left: 2rem;
    list-style: none;
    padding: 0;
}


.navbar div Link img {
    display: block;
}

.navbar .btn {
    align-items:center;
    align-content: center;
}