* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.Navbar {
    background-color: #161D2F;
    border-color: #161D2F;
    cursor: pointer;
    border-radius: 1rem;
    width: 7rem;
    height: 77rem;
    position: relative;
    top: 2rem;
    left: 2rem;
    align-items:center;
    align-content: center;
    flex-shrink: 0;
}

.active {
    background-color: white;
    
}

.NavTopSection {
   padding: 1rem;
   position: relative;
   top: 3rem;   
}

.LogoIcon {
    position: relative;
}

.NavMiddleSection {
    position: relative;
    top: 7rem;
}

.HomeIcon {
    position: absolute;
}

.MovieIcon {
    position: absolute;
}

.TVSeriesIcon {
    position: absolute;
}

.BookmarkedShowsIcon {
    position: absolute;
}

.NavBottomSection {
    position: relative;
    top: 57rem;
}

.LogInIcon {
    position: absolute;
}
